*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.fa-xmark{
    cursor: pointer;
}

.fa-xmark:hover{
    transform: scale(1.5);
}

#todo-container:hover{
    background-color: #505050;
    border-radius: 10px;
}

